.DashboardLayout {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar outlet outlet outlet";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  // height: 100vh;
}

.navbar {
  z-index: 5;
  grid-area: navbar;
  background-color: #fff;
}
.navbar_content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidebar {
  grid-area: sidebar;
}
.sidebar_content {
  overflow-y: auto;
  height: calc(100vh - 90px);
  position: fixed;
  top: 90px;
  left: 0;
}

.outlet {
  grid-area: outlet;
  overflow: hidden;
}
.outlet_content {
  margin: 20px 20px 20px 0;
  position: relative;
  top: 45px;
}
::-webkit-scrollbar {
  background-color: #f5f5f5;
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #039e51;
  background-image: -webkit-linear-gradient(
    top,
    #e4f5fc,
    #bff9c4 50%,
    #9fef9f 51%,
    #039e51
  );
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
